html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 h2 h3 h4 {
	padding: 0px;
	margin: 0px;
}
/* My css */

/* Header */
header{
    background-color: #353a40;
}

/* Main */
.section1 {
    height: 82vh;
    background: url(photos\ba1.jpg), #223646;    
}
.txtPhoto1a {
    padding-right: 7vw;
}
.txtPhoto1b {
    padding-top: 40vh;
}
.btnType1 {
    background-color: #97c93e;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
}
.btnType1:hover {
    color: rgb(255, 255, 255);
    background-color: #6bb323;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btnType2 {
    background-color: #ffffff00;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
}
.btnType2:hover {
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section2 {    
    font-size: 0.7rem;
    margin-bottom: 8vh;
}
.groupOfCards {
    margin: 0px 8vw 0px 8vw;
}
.Card {
    border: 1px solid #e9e9e9;
}
.section3 {    
    font-size: 0.7rem;    
    background-color: #353a40;
}
.img {
    width: 50vw;
}
.JavaScript {
    background-color: #ffc308;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}
.React {
    background-color: #10a1b8;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}
.Startups {
    background-color: #d93244;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}
.Negocios {
    background-color: #6a7781;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}
.section4 {
    font-size: 0.7rem; 
    margin: 10px 25vw 10px 25vw;
}
input {
    border: 1px solid #d1d6dc;
    height: 5vh;
    width: 100%;
    border-radius: 5px;
}
textarea {
    border: 1px solid #d1d6dc;
    height: 10vh;
    width: 100%;
    border-radius: 5px;
}
.botones {
    background-color: #97c93e;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 5px;
    height: 4vh;
}
.botones:hover {
    color: rgb(255, 255, 255);
    background-color: #6bb323;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p a {    
    border-bottom:1px dotted #9999CC;
    text-decoration:none;
    color: #212529;
}
p a:hover {        
    font-weight: bold;
    color: #212529;
}

/* Footer */
footer {
    background-image: linear-gradient(to right, #1a3644 , #1d4e6c);
}
li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
